
#cv-content {

  color:#03080d;
  background: #5a93c3;
  width: 100%;
  height: 2000px;

  font-size:1em;
  border:10px outset ghostwhite;

}
#email {
  font-size: 0.85em;
}
#cv-wrapper {
  position: absolute;

  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);

  width:1150px;
}

.wrapper #content-grid{
  display: grid;
  grid-template-columns: 30% 70%;
}

.wrapper #header{
  height:200px;
}
.wrapper #header .img{
  position: absolute;
  margin: 2% 0 0 3%;
}
.wrapper #header .img img{
  height: 160px;
  border-radius: 50px;
  box-shadow: 7px 7px #a3d0ff;
}

.wrapper #header .title-wrapper {
  position: relative;
  margin-left: 220px;
  padding:1.5%;
}
.wrapper #header .title-wrapper .name{
  background: #edf6ff;
  height:100%;
  padding:3%;
  font-size: 2.5em;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 2px 4px 4px #144b83;
  text-shadow: 2px 2px 2px #2067af;
}
.wrapper #header .title-wrapper .subtext{
  text-align: justify;
  margin:auto;
  height:100%;
  padding:3%;
}
.wrapper #header .title-wrapper ul {
  list-style-type: circle;
  color: white;
}

.wrapper h2{
  text-transform: uppercase;
  margin-top:18px;
  margin-bottom: 18px;
}
.wrapper .left-box h2{
  text-shadow: 1.1px 1.1px #003b62;
}
.wrapper .left-box h2:first-child{
  margin-top:10px;
}
.wrapper .right-box h2:first-child{
  margin-top:1px;
}

.wrapper .left-box, .wrapper .right-box {
  height:1800px;
  overflow:hidden;
  margin-bottom: 25%;
}


.wrapper .left-box {
  background: white;
  display: grid;
  grid-template-rows: repeat(2, 1fr) 1.8fr repeat(2, 1fr);
}


.wrapper .right-box {
  width:auto;
  display: grid;
  grid-template-rows: 1fr 0.5fr repeat(2, 1fr);
}



.wrapper .left-box .box1, .wrapper .left-box .box2 {

  border:2px dashed white;
}
.wrapper .left-box .competences, .wrapper .left-box .langues {
  background: #9fcdf4;
  padding:5%;
}
.wrapper .left-box .informatique {
  background: #bde1ff;
}
.wrapper .left-box .coordonnees, .wrapper .left-box .divers {
  background: #bde1ff;
  padding:5%;
}

.wrapper .left-box .coordonnees img {
  height: 210px;
}


.wrapper .left-box .box1 td {
  padding:4%;
}
.wrapper .left-box .box1 td:first-child{
  width:50px;
  background: #aedaff;
  border-radius:14px;
}

.wrapper .left-box i{
  font-size: 1.6em;
  color:#003b62;
}
.wrapper .left-box .competences tr:first-child td:first-child i{
  transition: all 0.5s ease;
}
.wrapper .left-box .competences tr:first-child td:first-child:hover i{
  transform: rotate(360deg);
}
.wrapper .left-box .competences tr td:first-child, .wrapper .left-box .divers tr td:first-child {
  padding-left: 6%;
}


.wrapper .left-box .langues table {
  width: 100%;
}
.wrapper .left-box .langues table tr td{
  padding: 3% 0;
}
.wrapper .left-box .langues table tr td:first-child{
  font-weight: bold;
  text-transform: uppercase;
  width:40%;
}

.wrapper .left-box .informatique h2 {
  padding: 3% 0 0 5%;
}
.wrapper .left-box .informatique img {
  width: 100%;
}



.wrapper .right-box .box{
  width:90%;
  padding: 2% 5%;
  border:2px dashed white;
}
.wrapper .right-box .box:nth-child(1), .wrapper .right-box .box:nth-child(3) {
  background: #f4faff;
}
.wrapper .right-box .box:nth-child(2), .wrapper .right-box .box:nth-child(4) {
  background: #dff2ff;
}

.wrapper .right-box hr{
  border-color: #9fcdf4;
  width:95%;
  margin:5px 0;
}
.wrapper .right-box h2{
  text-align: left;
  text-shadow: 2px 2px #bedcff;

  margin-left: 100px;
}

.wrapper .right-box table{
  padding: 1.5%;
}
.wrapper .right-box tr:first-child td:first-child{
  width: 170px;
}
.wrapper .right-box td:last-child strong{
  color: #2067af;
}
.wrapper .right-box table tr td ul {
  padding-top:10px;
  list-style-type: circle;
}
.wrapper .right-box table tr:nth-child(1) td:nth-child(2), .wrapper .right-box table tr:nth-child(2) td:nth-child(2){
  font-weight: bold;
}
.wrapper .right-box i{
  position:absolute;
  font-size: 2em;
  color:#0d4a72;
}
.wrapper .right-box .box:nth-child(2) i:hover{
  transform:scale(1.8);
}

.wrapper .right-box .box i{
  margin-left:50px;
}
.wrapper .right-box .box:first-child div:first-child:hover i:first-child{
  visibility: hidden;
}
.wrapper .right-box .box:first-child div:first-child i:last-child{
  margin-left:48px;
  visibility: hidden;
}
.wrapper .right-box .box:first-child div:first-child:hover i:last-child{
  visibility: visible;
}



#download_CV {
  position: relative;
}
#download_CV button {
  padding: 1.5% 2%;
  margin: 30px auto auto;
}

.box:nth-child(2) table tr:nth-child(2) td:nth-child(2),
.box:nth-child(3) table tr:nth-child(2) td:nth-child(2) {
  font-weight: normal;
}

#tab-info {
  width: 92%;
  height: auto;
}

#hold-tab {
  display: grid;
  justify-items: center;
}
