
#portfolio-wrapper {
    color:#03080d;
    font-size:1em;

    background: #5a93c3;
    border:10px outset ghostwhite;

    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);

    position: absolute;
    width:1150px;
    height: fit-content;
}

#space {
    width: 1px;
    height: 100px;
    position: absolute;

}

.wrapper #title-real {
    background: #5a93c3;
    border:2px dashed white;

    padding: 2% 5%;
    color: white;
}

.wrapper #title-real h1{
    font-variant: small-caps;
    text-align: center;
    padding-bottom: 2%;
    font-size: 2.2em;
}


.wrapper .box-real {
    color: black;
    border:2px dashed white;

    display: grid;

    align-items: center;
    justify-items: center;

    padding: 2%;
}

.wrapper .box1 {
    background: #9fcdf4;
    grid-template-columns: 1.1fr 1fr;

    padding-right: 50px;
}

.wrapper .box2 {
    background: #bde1ff;
    grid-template-columns: 1fr 1.1fr;
}

.wrapper .box-real div {
    width: 100%;
    height: 100%;
}

.wrapper .box-real h2 {
    margin-bottom: 30px;
    color: #2a7bbf;
}

.wrapper .box-real .category {
    font-weight: bold;

    border: whitesmoke thick outset;

    padding: 1% 2%;
    border-radius: 10%;
}

.wrapper .box-real i {
    margin-top: 30px;
}

.wrapper .box-real .type {
    background: gold;
}
.wrapper .box-real .tech {
    background: orange;
}
.wrapper .box-real .log {
    background: darkorange;
}

hr {
    height:3px;
    border-width: 0;

    margin: 25px 35px 25px 0;

    background-color: #5a93c3;
}

.wrapper .box-real .photo-real {
    width: 100%;
    padding-right: 50px;

    display: grid;
    justify-items: center;
    align-items: center;
}
.wrapper .box1 .descr-real {
    border-left:2px dashed white;
    padding-left: 30px;
}

.wrapper .box2 .photo-real {
    border-left:2px dashed white;
    margin-left: 60px;
    padding-left: 10px;
}

.wrapper .box-real .photo-real .image-real, .wrapper .box-real .photo-real video {
    width: 90%;
}

.wrapper .box-real .descr-real .text-real span {
    font-weight: bold;
    color: darkred;
}

.wrapper .box-real .descr-real .text-real {
    height: 100%;
    width: 95%;
    line-height: 1.8em;
    text-align: justify;
}

