
body #homepage-wrapper {
    width:1150px;
    height: auto;

    position: absolute;
    margin-top: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border:10px outset ghostwhite;

    display: grid;
    grid-template-columns: 1fr 2fr;
}


#set-colors {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 40%;

    display: grid;
    grid-template-rows: 1.1fr 2fr;
}

.wrapper #set-colors div:nth-child(1){
    background: #5a93c3;
    border-bottom:2px dashed white;
}
.wrapper #set-colors div:nth-child(2){
    background: #9fcdf4;
}


.wrapper #photo-img{
    display: grid;
    align-items: center;
    justify-items: center;

    border-top:2px dashed white;
    border-bottom:2px dashed white;
    border-left:2px dashed white;
}
.wrapper .img #photo2{
    height: 420px;
    border-radius: 50px;
    box-shadow: 7px 7px #a3d0ff;
}




.wrapper #about {
    background: #5a93c3;

    display: grid;
    grid-template-rows: 1.1fr 2fr;

    border-top:2px dashed white;
    border-bottom:2px dashed white;
    border-right:2px dashed white;
}

.wrapper  #present-header {
    display: grid;
    grid-template-columns: 1fr 2.2fr;
    font-size: 1.3em;

    padding: 5% 5% 5% 2%;

    border-bottom:2px dashed white;
}

.wrapper #bubble {
    display: grid;
    align-items: center;
}
.wrapper #about #hey-bubble{
    max-width:85%;
    border-radius: 50px;
}

.wrapper #present-header p {
    margin: 15px 10px;
}
.wrapper #present-header span:first-child{
    font-weight: bold;
    font-size: 1.4em;

    color: gold;
 }

.wrapper #present-header span:nth-child(2){
    font-weight: bold;
    font-style: italic;
    color: goldenrod;
}

hr {
    height:2px;
    border-width:0;
    background-color: white;
}

.wrapper #present-p {
    background: #9fcdf4;
}

.wrapper #present-p p {
    color: black;
    margin: 5% ;

    text-align: justify;
    line-height: 1.4em;

    font-size: 1.2em;
}

.wrapper #present-p span {
    font-weight: bold;
    color: darkred;
}