
* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;

    background:url("../img/background.jpeg") center;
    background-size: cover;

    color: white;
    font-size: 1em;
}


header {
    position: fixed;
    width: 100%;
    height: 13%;

    align-content: end;
    align-items: end;

    padding-bottom: 0.8%;
    min-height: 80px;
}

#name {
    display: grid;
    grid-template-columns: 1fr 1fr 100fr 1fr 1fr;
    align-items: center;
    align-content: center;

    height: 70%;
    margin: 0 5%;
}

#name span {
    font-weight: bold;
    font-size: 2em;

    min-width: 500px;
}

#name img {
    width: 40px;
}

#name label {
    text-transform: uppercase;
    font-weight: bold;
    text-align: end;
    font-size: 1.2em;

    min-width: 200px;
}

#name select {
    color: white;
    font-size: 1em;

    width: 100px;
    height:30px;

    background: #03080d;
    border: outset ghostwhite thin;
}



#button-wrapper {
    display: grid;
    grid-template-columns: 5fr repeat(4, 1fr) 2fr;
    align-content: end;
    vertical-align: bottom;

    height: 30%;
}

#button-wrapper a {
    min-width: 200px;

    color: white;
    font-size: 1.5em;
    text-align: center;

    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}



#networks-wrapper, footer, header {
    background: rgba(3, 8, 13, 0.8);
}

#networks-wrapper {
    position: fixed;
    right: 0;

    top: 50%;
    transform: translate(0, -50%);

    width: 70px;
    height: 400px;

    display: grid;
    align-items: center;

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#networks-wrapper i {
    padding-left: 30%;

    text-decoration: none;
    color: white;
    font-size: 1.7em;
}



footer {
    width: 100%;

    position: fixed;
    bottom:0;

    text-align: center;
    padding: 1%;
}

footer span {
    font-weight: bold;
}

#download_CV {
    text-decoration: none;
}

button, #button {
    background: #5a93c3;

    padding: 10% 15%;

    justify-content: center;
    display:grid;
    align-items: center;
    grid-template-columns: 1fr 3fr;

    text-transform: uppercase;
    font-weight: bold;
    color: white;

    border-radius: 15px;
    border:outset ghostwhite thick;
}

button:hover, #button:hover {
    background: #2067af;
}


button i {
    font-size: 2em;
    margin-right: 5px;
}

